<%- include('partials/header') %>

    <div id="home-page" class="page">
        <div id="overview-section">
            <div id="overview-section-text">
                <h1 class="title">ProductGem</h1>
                <h2 class="subtitle">What Do We Do?</h2>
                <p class="p-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mauris nisi, sollicitudin sit amet
                    massa vel, efficitur euismod eros. Duis sagittis ligula lectus, nec vulputate nulla suscipit et.
                </p>
            </div>
            <img src="./images/asset_bag.png">
        </div>

        <div id="benefits-section">
            <div class="benefit">
                <img src="./images/handshake.png">
                <h2 class="subtitle">Benefit 1</h2>
                <p class="p-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mauris nisi, sollicitudin sit amet
                    massa vel, efficitur euismod eros.
                </p>
            </div>
            <div class="benefit">
                <img src="./images/ecom_monitor.png">
                <h2 class="subtitle">Benefit 2</h2>
                <p class="p-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mauris nisi, sollicitudin sit amet
                    massa vel, efficitur euismod eros.
                </p>
            </div>
            <div class="benefit">
                <img src="./images/network.png">
                <h2 class="subtitle">Benefit 3</h2>
                <p class="p-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mauris nisi, sollicitudin sit amet
                    massa vel, efficitur euismod eros.
                </p>
            </div>
        </div>

        <div id="call-to-action-section">
            <p class="p-text">
                "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mauris nisi, sollicitudin sit amet
                massa vel, efficitur euismod eros. Duis sagittis ligula lectus, nec vulputate nulla suscipit et.
                Vestibulum viverra magna luctus orci bibendum accumsan at vel eros."
            </p>
            <h3 class="subtitle">Get all of this for only <span>$XX.XX/mo</span>
            </h3>
            <a href="/sign-up">
                <button class="button">Get Started</button>
            </a>
        </div>
    </div>

    <%- include('partials/footer') %>