<%- include('partials/header') %>

    <div id="new-password-page" class="page">
        <h1 class="title">Enter your new password</h1>

        <p class="subtitle">
            Enter a new password for your account. After this, you can login with your new details.
        </p>

        <form method="POST" action="/reset-password/set">
            <input type="password" name="password" placeholder="new password" required>
            <input type="hidden" name="token" value="<%= token %>">
            <div class="button-wrapper">
                <button type="submit" class="button">Reset</button>
            </div>
        </form>
    </div>

    <%- include('partials/footer') %>