<%- include('partials/header') %>

  <div id="privacy-page" class="page">
    <h1 class="title">Privacy Policy for ProductGem</h1>
    <p class="p-text">Last Updated: 1/7/24</p>

    <div class="privacy-section">
      <h3 class="subtitle">Introduction</h3>
      <p class="p-text privacy-section-content">
        At ProductGem, we are committed to protecting the privacy and security of our users' information. This Privacy
        Policy explains how we collect, use, disclose, and safeguard your information when you visit our website and use
        our services.
      </p>
    </div>

    <div class="privacy-section">
      <h3 class="subtitle">Information Collection</h3>
      <p class="p-text privacy-section-content">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mauris nisi, sollicitudin sit amet massa vel,
        efficitur euismod eros. Duis sagittis ligula lectus, nec vulputate nulla suscipit et. Vestibulum viverra magna
        luctus orci bibendum accumsan at vel eros. Pellentesque habitant morbi tristique senectus et netus et malesuada
        fames ac turpis egestas. Fusce sit amet ante eu felis viverra ultricies et in sapien. Ut vitae metus id velit
        finibus accumsan semper vitae mauris. Aliquam dignissim, eros a ullamcorper rutrum, urna eros iaculis lacus, et
        pulvinar arcu urna eu diam. Donec quis rhoncus risus. Nullam turpis arcu, euismod a sem ac, ullamcorper interdum
        neque.
      </p>
    </div>

    <div class="privacy-section">
      <h3 class="subtitle">Use of Information</h3>
      <p class="p-text privacy-section-content">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mauris nisi, sollicitudin sit amet massa vel,
        efficitur euismod eros. Duis sagittis ligula lectus, nec vulputate nulla suscipit et. Vestibulum viverra magna
        luctus orci bibendum accumsan at vel eros. Pellentesque habitant morbi tristique senectus et netus et malesuada
        fames ac turpis egestas. Fusce sit amet ante eu felis viverra ultricies et in sapien. Ut vitae metus id velit
        finibus accumsan semper vitae mauris. Aliquam dignissim, eros a ullamcorper rutrum, urna eros iaculis lacus, et
        pulvinar arcu urna eu diam. Donec quis rhoncus risus. Nullam turpis arcu, euismod a sem ac, ullamcorper interdum
        neque.
      </p>
    </div>

    <div class="privacy-section">
      <h3 class="subtitle">Data Security</h3>
      <p class="p-text privacy-section-content">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mauris nisi, sollicitudin sit amet massa vel,
        efficitur euismod eros. Duis sagittis ligula lectus, nec vulputate nulla suscipit et. Vestibulum viverra magna
        luctus orci bibendum accumsan at vel eros. Pellentesque habitant morbi tristique senectus et netus et malesuada
        fames ac turpis egestas. Fusce sit amet ante eu felis viverra ultricies et in sapien. Ut vitae metus id velit
        finibus accumsan semper vitae mauris. Aliquam dignissim, eros a ullamcorper rutrum, urna eros iaculis lacus, et
        pulvinar arcu urna eu diam. Donec quis rhoncus risus. Nullam turpis arcu, euismod a sem ac, ullamcorper interdum
        neque.
      </p>
    </div>

    <div class="privacy-section">
      <h3 class="subtitle">Sharing of Information</h3>
      <p class="p-text privacy-section-content">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mauris nisi, sollicitudin sit amet massa vel,
        efficitur euismod eros. Duis sagittis ligula lectus, nec vulputate nulla suscipit et. Vestibulum viverra magna
        luctus orci bibendum accumsan at vel eros. Pellentesque habitant morbi tristique senectus et netus et malesuada
        fames ac turpis egestas. Fusce sit amet ante eu felis viverra ultricies et in sapien. Ut vitae metus id velit
        finibus accumsan semper vitae mauris. Aliquam dignissim, eros a ullamcorper rutrum, urna eros iaculis lacus, et
        pulvinar arcu urna eu diam. Donec quis rhoncus risus. Nullam turpis arcu, euismod a sem ac, ullamcorper interdum
        neque.
      </p>
    </div>

    <div class="privacy-section">
      <h3 class="subtitle">Third-Party Services</h3>
      <p class="p-text privacy-section-content">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mauris nisi, sollicitudin sit amet massa vel,
        efficitur euismod eros. Duis sagittis ligula lectus, nec vulputate nulla suscipit et. Vestibulum viverra magna
        luctus orci bibendum accumsan at vel eros. Pellentesque habitant morbi tristique senectus et netus et malesuada
        fames ac turpis egestas. Fusce sit amet ante eu felis viverra ultricies et in sapien. Ut vitae metus id velit
        finibus accumsan semper vitae mauris. Aliquam dignissim, eros a ullamcorper rutrum, urna eros iaculis lacus, et
        pulvinar arcu urna eu diam. Donec quis rhoncus risus. Nullam turpis arcu, euismod a sem ac, ullamcorper interdum
        neque.
      </p>
    </div>

    <div class="privacy-section">
      <h3 class="subtitle">Changes to This Privacy Policy</h3>
      <p class="p-text privacy-section-content">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mauris nisi, sollicitudin sit amet massa vel,
        efficitur euismod eros. Duis sagittis ligula lectus, nec vulputate nulla suscipit et. Vestibulum viverra magna
        luctus orci bibendum accumsan at vel eros. Pellentesque habitant morbi tristique senectus et netus et malesuada
        fames ac turpis egestas. Fusce sit amet ante eu felis viverra ultricies et in sapien. Ut vitae metus id velit
        finibus accumsan semper vitae mauris. Aliquam dignissim, eros a ullamcorper rutrum, urna eros iaculis lacus, et
        pulvinar arcu urna eu diam. Donec quis rhoncus risus. Nullam turpis arcu, euismod a sem ac, ullamcorper interdum
        neque.
      </p>
    </div>

    <div class="privacy-section">
      <h3 class="subtitle">Contacting Us</h3>
      <p class="p-text privacy-section-content">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mauris nisi, sollicitudin sit amet massa vel,
        efficitur euismod eros. Duis sagittis ligula lectus, nec vulputate nulla suscipit et. Vestibulum viverra magna
        luctus orci bibendum accumsan at vel eros. Pellentesque habitant morbi tristique senectus et netus et malesuada
        fames ac turpis egestas. Fusce sit amet ante eu felis viverra ultricies et in sapien. Ut vitae metus id velit
        finibus accumsan semper vitae mauris. Aliquam dignissim, eros a ullamcorper rutrum, urna eros iaculis lacus, et
        pulvinar arcu urna eu diam. Donec quis rhoncus risus. Nullam turpis arcu, euismod a sem ac, ullamcorper interdum
        neque.
      </p>
    </div>
  </div>

  <%- include('partials/footer') %>