<%- include('partials/header') %>

  <div id="refund-page" class="page">
    <h1 class="title">Refund Policy for ProductGem</h1>
    <p class="p-text">Last Updated: 1/7/24</p>

    <div class="refund-section">
      <h3 class="subtitle">Introduction</h3>
      <p class="p-text tos-section-content">
        At ProductGem, we take pride in the quality of the products and services we offer. This Refund Policy outlines
        the circumstances under which ProductGem may issue refunds, and the process for requesting a refund.
      </p>
    </div>

    <div class="refund-section">
      <h3 class="subtitle">General Refund Conditions</h3>
      <p class="p-text tos-section-content">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mauris nisi, sollicitudin sit amet massa vel,
        efficitur euismod eros. Duis sagittis ligula lectus, nec vulputate nulla suscipit et. Vestibulum viverra magna
        luctus orci bibendum accumsan at vel eros. Pellentesque habitant morbi tristique senectus et netus et malesuada
        fames ac turpis egestas. Fusce sit amet ante eu felis viverra ultricies et in sapien. Ut vitae metus id velit
        finibus accumsan semper vitae mauris. Aliquam dignissim, eros a ullamcorper rutrum, urna eros iaculis lacus, et
        pulvinar arcu urna eu diam. Donec quis rhoncus risus. Nullam turpis arcu, euismod a sem ac, ullamcorper interdum
        neque.
      </p>
    </div>

    <div class="refund-section">
      <h3 class="subtitle">Process for Requesting a Refund</h3>
      <p class="p-text tos-section-content">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mauris nisi, sollicitudin sit amet massa vel,
        efficitur euismod eros. Duis sagittis ligula lectus, nec vulputate nulla suscipit et. Vestibulum viverra magna
        luctus orci bibendum accumsan at vel eros. Pellentesque habitant morbi tristique senectus et netus et malesuada
        fames ac turpis egestas. Fusce sit amet ante eu felis viverra ultricies et in sapien. Ut vitae metus id velit
        finibus accumsan semper vitae mauris. Aliquam dignissim, eros a ullamcorper rutrum, urna eros iaculis lacus, et
        pulvinar arcu urna eu diam. Donec quis rhoncus risus. Nullam turpis arcu, euismod a sem ac, ullamcorper interdum
        neque.
      </p>
    </div>

    <div class="refund-section">
      <h3 class="subtitle">Refund Processing</h3>
      <p class="p-text tos-section-content">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mauris nisi, sollicitudin sit amet massa vel,
        efficitur euismod eros. Duis sagittis ligula lectus, nec vulputate nulla suscipit et. Vestibulum viverra magna
        luctus orci bibendum accumsan at vel eros. Pellentesque habitant morbi tristique senectus et netus et malesuada
        fames ac turpis egestas. Fusce sit amet ante eu felis viverra ultricies et in sapien. Ut vitae metus id velit
        finibus accumsan semper vitae mauris. Aliquam dignissim, eros a ullamcorper rutrum, urna eros iaculis lacus, et
        pulvinar arcu urna eu diam. Donec quis rhoncus risus. Nullam turpis arcu, euismod a sem ac, ullamcorper interdum
        neque.
      </p>
    </div>

    <div class="refund-section">
      <h3 class="subtitle">Contact Information</h3>
      <p class="p-text tos-section-content">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mauris nisi, sollicitudin sit amet massa vel,
        efficitur euismod eros. Duis sagittis ligula lectus, nec vulputate nulla suscipit et. Vestibulum viverra magna
        luctus orci bibendum accumsan at vel eros. Pellentesque habitant morbi tristique senectus et netus et malesuada
        fames ac turpis egestas. Fusce sit amet ante eu felis viverra ultricies et in sapien. Ut vitae metus id velit
        finibus accumsan semper vitae mauris. Aliquam dignissim, eros a ullamcorper rutrum, urna eros iaculis lacus, et
        pulvinar arcu urna eu diam. Donec quis rhoncus risus. Nullam turpis arcu, euismod a sem ac, ullamcorper interdum
        neque.
      </p>
    </div>

    <div class="refund-section">
      <h3 class="subtitle">Policy Amendments</h3>
      <p class="p-text tos-section-content">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mauris nisi, sollicitudin sit amet massa vel,
        efficitur euismod eros. Duis sagittis ligula lectus, nec vulputate nulla suscipit et. Vestibulum viverra magna
        luctus orci bibendum accumsan at vel eros. Pellentesque habitant morbi tristique senectus et netus et malesuada
        fames ac turpis egestas. Fusce sit amet ante eu felis viverra ultricies et in sapien. Ut vitae metus id velit
        finibus accumsan semper vitae mauris. Aliquam dignissim, eros a ullamcorper rutrum, urna eros iaculis lacus, et
        pulvinar arcu urna eu diam. Donec quis rhoncus risus. Nullam turpis arcu, euismod a sem ac, ullamcorper interdum
        neque.
      </p>
    </div>
  </div>

  <%- include('partials/footer') %>