<%- include('partials/header') %>

    <div id="reset-password-page" class="page">
        <h1 class="title">Reset your password</h1>

        <p class="subtitle">
            To reset your password, we will email you a special link. Press the button and check your inbox!
        </p>

        <form method="POST" action="/reset-password/send-email">
            <input type="email" name="email" placeholder="email" required>
            <div class="button-wrapper">
                <button type="submit" class="button">Send Email</button>
            </div>
        </form>
    </div>

    <%- include('partials/footer') %>