<%- include('partials/header') %>

  <div id="tos-page" class="page">
    <h1 class="title">Terms of Service for ProductGem</h1>
    <p class="p-text">Last Updated: 1/7/24</p>

    <div class="tos-section">
      <h3 class="subtitle">1. Introduction</h3>
      <p class="p-text tos-section-content">
        Welcome to ProductGem. By accessing our website, services, or products, you agree to be bound by these Terms of
        Service (“Terms”). If you do not agree to all the terms and conditions, then you may not access the website or
        use
        our services.
      </p>
    </div>

    <div class="tos-section">
      <h3 class="subtitle">2. Service Description</h3>
      <p class="p-text tos-section-content">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mauris nisi,
        sollicitudin sit amet massa vel,
        efficitur euismod eros. Duis sagittis ligula lectus, nec vulputate nulla suscipit et. Vestibulum viverra magna
        luctus orci bibendum accumsan at vel eros. Pellentesque habitant morbi tristique senectus et netus et malesuada
        fames ac turpis egestas. Fusce sit amet ante eu felis viverra ultricies et in sapien. Ut vitae metus id velit
        finibus accumsan semper vitae mauris. Aliquam dignissim, eros a ullamcorper rutrum, urna eros iaculis lacus, et
        pulvinar arcu urna eu diam. Donec quis rhoncus risus. Nullam turpis arcu, euismod a sem ac, ullamcorper interdum
        neque.
      </p>
    </div>

    <div class="tos-section">
      <h3 class="subtitle">3. User Registration and Account</h3>
      <p class="p-text tos-section-content">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mauris nisi, sollicitudin sit amet massa vel,
        efficitur euismod eros. Duis sagittis ligula lectus, nec vulputate nulla suscipit et. Vestibulum viverra magna
        luctus orci bibendum accumsan at vel eros. Pellentesque habitant morbi tristique senectus et netus et malesuada
        fames ac turpis egestas. Fusce sit amet ante eu felis viverra ultricies et in sapien. Ut vitae metus id velit
        finibus accumsan semper vitae mauris. Aliquam dignissim, eros a ullamcorper rutrum, urna eros iaculis lacus, et
        pulvinar arcu urna eu diam. Donec quis rhoncus risus. Nullam turpis arcu, euismod a sem ac, ullamcorper interdum
        neque.
      </p>
    </div>

    <div class="tos-section">
      <h3 class="subtitle">4. Collection and Use of Information</h3>
      <p class="p-text tos-section-content">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mauris nisi, sollicitudin sit amet massa vel,
        efficitur euismod eros. Duis sagittis ligula lectus, nec vulputate nulla suscipit et. Vestibulum viverra magna
        luctus orci bibendum accumsan at vel eros. Pellentesque habitant morbi tristique senectus et netus et malesuada
        fames ac turpis egestas. Fusce sit amet ante eu felis viverra ultricies et in sapien. Ut vitae metus id velit
        finibus accumsan semper vitae mauris. Aliquam dignissim, eros a ullamcorper rutrum, urna eros iaculis lacus, et
        pulvinar arcu urna eu diam. Donec quis rhoncus risus. Nullam turpis arcu, euismod a sem ac, ullamcorper interdum
        neque.
      </p>
    </div>

    <div class="tos-section">
      <h3 class="subtitle">5. User Conduct</h3>
      <p class="p-text tos-section-content">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mauris nisi, sollicitudin sit amet massa vel,
        efficitur euismod eros. Duis sagittis ligula lectus, nec vulputate nulla suscipit et. Vestibulum viverra magna
        luctus orci bibendum accumsan at vel eros. Pellentesque habitant morbi tristique senectus et netus et malesuada
        fames ac turpis egestas. Fusce sit amet ante eu felis viverra ultricies et in sapien. Ut vitae metus id velit
        finibus accumsan semper vitae mauris. Aliquam dignissim, eros a ullamcorper rutrum, urna eros iaculis lacus, et
        pulvinar arcu urna eu diam. Donec quis rhoncus risus. Nullam turpis arcu, euismod a sem ac, ullamcorper interdum
        neque.
      </p>
    </div>

    <div class="tos-section">
      <h3 class="subtitle">6. Intellectual Property Rights</h3>
      <p class="p-text tos-section-content">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mauris nisi, sollicitudin sit amet massa vel,
        efficitur euismod eros. Duis sagittis ligula lectus, nec vulputate nulla suscipit et. Vestibulum viverra magna
        luctus orci bibendum accumsan at vel eros. Pellentesque habitant morbi tristique senectus et netus et malesuada
        fames ac turpis egestas. Fusce sit amet ante eu felis viverra ultricies et in sapien. Ut vitae metus id velit
        finibus accumsan semper vitae mauris. Aliquam dignissim, eros a ullamcorper rutrum, urna eros iaculis lacus, et
        pulvinar arcu urna eu diam. Donec quis rhoncus risus. Nullam turpis arcu, euismod a sem ac, ullamcorper interdum
        neque.
      </p>
    </div>

    <div class="tos-section">
      <h3 class="subtitle">7. Refund Policy</h3>
      <p class="p-text tos-section-content">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mauris nisi, sollicitudin sit amet massa vel,
        efficitur euismod eros. Duis sagittis ligula lectus, nec vulputate nulla suscipit et. Vestibulum viverra magna
        luctus orci bibendum accumsan at vel eros. Pellentesque habitant morbi tristique senectus et netus et malesuada
        fames ac turpis egestas. Fusce sit amet ante eu felis viverra ultricies et in sapien. Ut vitae metus id velit
        finibus accumsan semper vitae mauris. Aliquam dignissim, eros a ullamcorper rutrum, urna eros iaculis lacus, et
        pulvinar arcu urna eu diam. Donec quis rhoncus risus. Nullam turpis arcu, euismod a sem ac, ullamcorper interdum
        neque.
      </p>
    </div>

    <div class="tos-section">
      <h3 class="subtitle">8. Limitation of Liability</h3>
      <p class="p-text tos-section-content">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mauris nisi, sollicitudin sit amet massa vel,
        efficitur euismod eros. Duis sagittis ligula lectus, nec vulputate nulla suscipit et. Vestibulum viverra magna
        luctus orci bibendum accumsan at vel eros. Pellentesque habitant morbi tristique senectus et netus et malesuada
        fames ac turpis egestas. Fusce sit amet ante eu felis viverra ultricies et in sapien. Ut vitae metus id velit
        finibus accumsan semper vitae mauris. Aliquam dignissim, eros a ullamcorper rutrum, urna eros iaculis lacus, et
        pulvinar arcu urna eu diam. Donec quis rhoncus risus. Nullam turpis arcu, euismod a sem ac, ullamcorper interdum
        neque.
      </p>
    </div>

    <div class="tos-section">
      <h3 class="subtitle">9. Amendment of Terms</h3>
      <p class="p-text tos-section-content">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mauris nisi, sollicitudin sit amet massa vel,
        efficitur euismod eros. Duis sagittis ligula lectus, nec vulputate nulla suscipit et. Vestibulum viverra magna
        luctus orci bibendum accumsan at vel eros. Pellentesque habitant morbi tristique senectus et netus et malesuada
        fames ac turpis egestas. Fusce sit amet ante eu felis viverra ultricies et in sapien. Ut vitae metus id velit
        finibus accumsan semper vitae mauris. Aliquam dignissim, eros a ullamcorper rutrum, urna eros iaculis lacus, et
        pulvinar arcu urna eu diam. Donec quis rhoncus risus. Nullam turpis arcu, euismod a sem ac, ullamcorper interdum
        neque.
      </p>
    </div>

    <div class="tos-section">
      <h3 class="subtitle">10. Contact Information</h3>
      <p class="p-text tos-section-content">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mauris nisi, sollicitudin sit amet massa vel,
        efficitur euismod eros. Duis sagittis ligula lectus, nec vulputate nulla suscipit et. Vestibulum viverra magna
        luctus orci bibendum accumsan at vel eros. Pellentesque habitant morbi tristique senectus et netus et malesuada
        fames ac turpis egestas. Fusce sit amet ante eu felis viverra ultricies et in sapien. Ut vitae metus id velit
        finibus accumsan semper vitae mauris. Aliquam dignissim, eros a ullamcorper rutrum, urna eros iaculis lacus, et
        pulvinar arcu urna eu diam. Donec quis rhoncus risus. Nullam turpis arcu, euismod a sem ac, ullamcorper interdum
        neque.
      </p>
    </div>

    <% if (loggedIn) { %>
      <hr>

      <div id="close-account-section">
        <form method="post" action="/delete-account">
          <button type="submit">close your account</button>
        </form>
        <h3 class="p-text">Closing your account will cancel your subscription. You will no longer be able to
          access ProductGem</h3>
      </div>
      <% } %>

        <%- include('partials/footer') %>