<%- include('partials/header') %>

    <div id="verify-email-page" class="page">
        <h1 class="title">Check your inbox, please!</h1>

        <p class="subtitle">
            Hey, to start using ProductGem, we need to verify your email.
            We've already sent you the verification link. Please check it and confirm it's really you.
        </p>

        <div id="resend-section">
            <h2 class="subtitle">Didn't get an email?</h2>
            <a href="/verify-email"><button>Send it again</button></a>
        </div>
    </div>

    <%- include('partials/footer') %>