#new-password-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  padding: 5vw 7vw 5vw 7vw;
  border: 0.3vw solid $primary-color;
  margin: 5vw 10vw 0 10vw;

  @media (min-width: $medium-screen-width) {
    padding: 5vw 5vw 5vw 5vw;
    margin: 5vw 10vw 0 10vw;
  }

  @media (min-width: $large-screen-width) {
    margin: 5vw 30vw 0 30vw;
  }

  .title {
    font-size: 4vw;
    margin-bottom: 5%;

    @media (min-width: $medium-screen-width) {
      font-size: 4vw;
      margin-bottom: 2%;
    }

    @media (min-width: $large-screen-width) {
      font-size: 1.75vw;
    }
  }

  .subtitle {
    color: $secondary-color;
    font-weight: 100;
    font-size: 4vw;
    margin-bottom: 10%;

    @media (min-width: $medium-screen-width) {
      font-size: 3vw;
      margin-bottom: 3%;
    }

    @media (min-width: $large-screen-width) {
      font-size: 1.3vw;
    }
  }

  form {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;

    width: 100%;

    @media (min-width: $medium-screen-width) {
      width: 60%;
    }

    @media (min-width: $large-screen-width) {
      width: 80%;
    }

    input {
      outline: none;
      border: none;
      border-bottom: 3px solid $secondary-color;

      padding: 1%;
      background-color: $background-color;
      color: $primary-color;

      margin-bottom: 8%;
      font-size: 4vw;

      @media (min-width: $medium-screen-width) {
        font-size: 3vw;
      }

      @media (min-width: $large-screen-width) {
        font-size: 1.3vw;
      }
    }

    .button-wrapper {
      display: flex;
      justify-content: center;
    }

    button {
      width: 50%;
      margin-top: 10%;
    }
  }
}
