#popup {
  position: fixed;
  left: 50%;
  top: 90%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition:
    opacity 0.5s,
    visibility 0.5s;

  background-color: $background-color;
  box-shadow: 0 0 30px rgb(35, 35, 35);
  border: 1px solid $accent-color;
  text-align: center;
  padding: 1%;
  width: 90vw;
  padding-top: 2%;

  @media (min-width: $medium-screen-width) {
    width: 60vw;
  }

  p {
    font-size: 4vw;

    @media (min-width: $medium-screen-width) {
      font-size: 1.5vw;
    }
  }

  &.active {
    opacity: 1;
    visibility: visible;
  }
}
