<div id="footer">
  <h3 id="footer-brand">Product<span class="logo-hl">Gem</span> <span id="version">v1.1</span></h3>

  <div id="footer-links">
    <a href="/terms-of-service" class="footer-link">Terms of Service</a>
    <a href="/contact" class="footer-link">Contact Support</a>
    <a href="/refund-policy" class="footer-link">Refund Policy</a>
    <a href="/privacy-policy" class="footer-link">Privacy Policy</a>
  </div>

  <a id="copywright">© 2024 ProductGem</a>
</div>